.login-form{
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: #f2eee9;
    display: flex;
    align-items: center;
    padding: 30px 0;
    flex-direction: column;
}

.login__heading h2{
    font-size: 25px;
    font-weight: bold;
    margin: 25px auto;
    text-align: center;
    color: #baa899;
    font-family: serif;
}

.login_form{
    width: 500px;
    padding: 50px;
    margin: 0 auto;
    border: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    background-color: #fff;
}

.form__group{
    margin-bottom: 25px;
}

.form__group-title{
    margin-bottom: 15px;
}

.form__group-title label{
    font-size: 20px;
    font-weight: bold;
    color: #82756a;
}

.form__input--text input{
    width: 100%;
    padding: 15px;
    background-color: #f4f4f4;
    border: none;
    color: #82756a;
    box-sizing: border-box;
}

.form__error{
    color: #d9534f;
    font-size: 14px;
    margin-top: 5px;
    min-width: 18px;
}
.form__button{
    text-align: center;
    margin-top: 50px;
}

.form__button-submit{
    background-color: #82756a;
    color: #fff;
    font-size: 16px;
    padding: 12px 50px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

